<div class="password-modify-container">

    <!--注册表单-->
    <div class="password-modify-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <md-radio-group class="example-radio-group" (change)="changeDiscountType($event)">
                    <md-radio-button value="打折" [checked]="isPercent">打折</md-radio-button>
                    <md-radio-button value="减价" [checked]="isAmount">减价</md-radio-button>
                </md-radio-group>
            </div>

            <div class="form-group" *ngIf="isPercent">
                <label>打折</label>
                <div>
                    <input type="number" class="form-control" min="0.00" max="1.00" step="0.01" placeholder="商品折扣" formControlName="discount">
                    <control-messages [control]="form.controls.discount"></control-messages>
                </div>
            </div>

            <div class="form-group" *ngIf="isAmount">
                <label>减价(元)</label>
                <div>
                    <input type="number" class="form-control" min="0.00" step="0.01" placeholder="商品减价" formControlName="amount">
                    <control-messages [control]="form.controls.amount"></control-messages>
                </div>
            </div>

            <div class="form-group">
                <label>订单最少数额</label>
                <div>
                    <input type="number" class="form-control" min="0.00" step="0.01" formControlName="minimumOrder">
                    <control-messages [control]="form.controls.minimumOrder"></control-messages>
                </div>
            </div>

            <div class="form-group">
                <label>打包费用</label>
                <div>
                    <input type="number" class="form-control" min="0.00" step="0.01" formControlName="packageFee">
                    <control-messages [control]="form.controls.packageFee"></control-messages>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-submit btn-block" [disabled]="!form.valid">完&nbsp;成</button>
            </div>
        </form>
    </div>

</div>
<ticket-navbar></ticket-navbar>