<div class="password-modify-container">

    <!--注册表单-->
    <div class="password-modify-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="form-group">
                    <label>折扣</label>
                    <div>
                        <input type="number" class="form-control" min="0.00" max="1.00" step="0.01" placeholder="商品折扣" formControlName="discount">
                        <control-messages [control]="form.controls.discount"></control-messages>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-submit btn-block" [disabled]="!form.valid">完&nbsp;成</button>
            </div>
        </form>
    </div>

</div>
<ticket-navbar></ticket-navbar>